    body{
        background-color: aqua;
    }
    .screen2 {
        display: block;
    }

    .candidate {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 20px;
        padding: 25px;
        border: 2px solid black;
        height: 400px;
    }

    .c1 {
        height: 250px;
        width: 200px;
    }

    .one {
        border: 5px solid black;
    }

    .two {
        border: 5px solid black;
    }

    .c2 {
        height: 250px;
        width: 200px;
    }

    .text {
        position: relative;
        height: 45px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .can1 {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .can2 {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .sbtn {
        border: 2px solid black;
        margin-left: 620px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        color: yellow;
        background-color: blue;
        font-weight: bold;
    }